<mat-tab-group
  @FromBottom
  [class.hidden]="!(formService.form$ | async)?.length"
  #tabGroup
  mat-stretch-tabs
  mat-align-tabs="center"
>
  <mat-tab label="Table"> <app-table></app-table> </mat-tab>
  <mat-tab label="Engine Chart"> </mat-tab>
  <mat-tab label="Colors Chart"> </mat-tab>
  <mat-tab label="Common Hobby"> </mat-tab>
</mat-tab-group>
<div class="canvas" [class.hidden]="tabGroup?.selectedIndex !== 1">
  <canvas id="Motor">{{ this.enginePerGenderConfig }}</canvas>
</div>
<div class="genders" [class.hidden]="tabGroup?.selectedIndex !== 2">
  <canvas id="Gender">{{ this.enginePerGenderConfig }}</canvas>
</div>
<div class="canvas" [class.hidden]="tabGroup?.selectedIndex !== 3">
  <canvas id="Hobbies">{{ this.enginePerGenderConfig }}</canvas>
</div>

<div *ngIf="!(formService.form$ | async)?.length" class="no-data-container">
  <img src="../../../assets/no-data.svg" alt="" />
  <div class="no-data">No Data To Display</div>
  <p (click)="navToHome()">Go Back</p>
</div>
